@font-face {

  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  
}

.page-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.5)
}

body {
  height: 100%;
  margin: 5px auto;
  padding:0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #242424;
  background: #e5e5e5 ;
  width: 1200px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.1)
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

p {
  text-align: center;
}


.page-header { 
  max-width: 1200px;   
  margin: 0 auto;
  background: #FFFFFF;
}

.navigation {
  display: flex;
  margin: -4px auto;
  background: #FFFFFF;
}
.navigation-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0px 286px 0 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
}
.navigation-link-logo {
  width: 139px;
  margin: 0 29px 0px 71px;
}
.header-page-logo {
  position: absolute;
}
.menu_active::after {
  content: '';
  display: block;
  width: calc(100% - 36px);
  height: 3px;
  background-color: gray;
  position: absolute;
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%)
}

.menu_active {
  position: relative;
}
.navigation-link {
  position: relative;
  padding: 21px 17px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-link:focus {
  color: #000000;
}
.navigation-link:hover {
  color: #756257;
}
.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-list:last-child {
  margin:0;
}

.navigation-icon {
  position: absolute;
  fill: #000000;
}
.navigation-icon:focus {
  fill: #000000;
}
.navigation-icon:hover {
  fill: #756257;
}
.navigation-icon:active {
  fill: rgba(117, 98, 87, 0.3);
}

.nav-fav {
  position: relative;
  margin: 0px 23px 0 8px;
}
.circle {
  position: absolute;
  width: 20px; 
height: 20px;
left: 22px;
top: 3px;
background: #7DB54F;
border-radius: 10px;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 13px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.1em;
color: #FFFFFF;
}
.circle span {
  margin:5px;
}


.wellcome-divider {
  width: auto;
  margin-bottom: 0;
}

.hotel-search h1 {
  color: #000000;
  margin-top: 93px;
  margin-bottom: 29px;
}

.hotel-search p {
  width: 720px;
  height: 52px;
  margin: 0 auto 56px 231px;
  
  font-size: 22px;
line-height: 26px;
}


.button-hotel-search {
  background: #756257;
  width: 575px;
  height: 60px;
  border-radius: 10px;
  font-family: inherit;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 auto;
  margin-bottom: 91px;
}

.button-hotel-search:hover {
  background: #615048;

}

.button-hotel-search:focus {
  background: #615048;
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}

.button-hotel-search:active {
  background: #615048;
  border: none;
  color: rgba(255, 255, 255, 0.3);
}

.subscription-form-index {
  display: flex;
  justify-content: center;
  width: 800px;
  height: 60px;
  background: #F2F2F2;
  border-radius: 10px 10px 10px 10px;
  padding: 0;
  margin-left: 0px;
}
.subscription-form {
  display: flex;
  justify-content: center;
  width: 800px;
  height: 60px;
  background: #F2F2F2;
  border-radius: 10px 10px 10px 10px;
  padding: 1px 0 0 0;
  margin-left: 20px;
}

.subscription-form-email {
  width: 600px;
  height: 60px;
  display: flex;
  border-radius: 10px 10px 10px 10px;
}

.email {
  width: 600px;
  height: 60px;
  font-size: 18px;
  color: #000000;
  opacity: 0.6;
  background: #F2F2F2;
  border: none;
  padding: 0 0 0 22px;
  border-radius: 10px 0 0 10px;
}

.email:hover {
  background: #E6E6E6;
}

.email:focus {
  outline: 3px solid #83B3D3;
border: none;

}

.button-submit {
  width: 200px;
  height: 60px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  outline: none;;
  cursor: pointer;
  background: #83B3D3;
  border-radius: 0px 10px 10px 0px;
  margin: 0;
  border-width: 0;
  letter-spacing: -1.4px;
  
}

.button-submit:hover {
  background: #68A2CA;
}

.button-submit:focus {
  background: #68A2CA;
  outline: 3px solid #756257;
  border: none;
 
}

.button-submit:active {
  color: rgba(163, 192, 211, 0.3);
  border: none;
}



.advantages-image {
  max-height: 384px;

}

.button-want-here {
  padding: 12px 36px 8px;
  background-color: #756257;
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration:none;
}

.button-want-here:hover {
  background: #615048;
}

.button-want-here:focus {
  background: #615048;
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-want-here:active {
  background: #615048;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.main-container {

  flex: 1 1 auto;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background: #FFFFFF;
}

.wellcome {
  max-width: 1200px;
  height: 485px;
  background-size: cover;
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/index-background.jpg");
}

.wellcome-text {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 25px;
}

.sedona-welcome {
  height: 282px;
}

.sedona-welcome h1 {
  width: 720px;
  height: 72px;
  margin: 0 auto;
  padding-top: 65px;
  padding-bottom: 31px;
  color: #000000;
}

.sedona-welcome p {
  margin: 0 auto;
  width: 720px;
  height: 36px;
font-size: 22px;
line-height: 36px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  margin: 0 0;
  max-width: 1200px;
  max-height: 411px;
  padding: 73px 200px 93px;
  max-width: 1200px;
  background-image: url("../images/background.png");
}

.subscribe h1 {
  width: 720px;
  height: 36px;
  margin: 0 auto;
  margin-top: 22px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.p-index {
  width: 720px;
  color: #FFFFFF;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 46px;
  font-size: 22px;
line-height: 26px;
}

.advantages-cards {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-icon {
  margin-top: 89px;
}

.no-icon-adv {
  margin-top: 100px;
  margin-bottom: 30px;
}

.advantages-item {
  margin: 0;
  padding: 0;
  width: 400px;
  height: 384px;
  color: #333333;
}

.item-lightgrey {
  background: rgba(131, 179, 211, 0.12);
}

.item-road {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-blue {
  color: #FFFFFF;
  background: #83B3D3;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.advantages-blue h3 {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.advantages-blue p,
.advantages-blue span {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.advantages {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 0;
  padding: 0;
}

.advantages-blue p {
  width: 220px;
  height: 63px;
  margin: 0 auto;
  margin-top: 31px;

}

.style-one p {
  width: 250px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
}

.style-two h3 {
  font-size: 24px;
line-height: 28px;
  margin-top: 100px;
}

.style-two p {
  width: 250px;
  height: 42px;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 18px;
line-height: 21px;
}

h1 {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;  
}

.sedona-welcome {
  color: #000000;
}

a[href^="tel:"] {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.page-footer-container {
 
  display: grid;
  grid-template-columns: 240px 720px 240px;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  background: #FFFFFF;
}

.social-list {

  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social {
  grid-column: 1;
  width: 140px;
  margin-left: 70px;
  margin-top: 49px;
}

.footer-social-item {
  width: 25px;
  height: 20px;
  margin-right: 18px;
  fill: #68A2CA;
  text-align: center;
}

.footer-social-item:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
  fill: #68A2CA;
  padding: 3px;
}

.footer-social-link {
  display: block;
  height: 15px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-item svg {
  fill: #83B3D3;
}

.footer-social-item svg:hover {
  fill: #68A2CA;
}

.footer-social-item a:focus {
  outline: 3px solid #83B3D3;
  padding: 3px;
  border-radius: 5px;
  fill: #68A2CA;
}

.footer-social-item a:active {
  opacity: 0.3;
  outline: none;
  border: 0;
}

.tel {
  grid-column: 2;
  margin: 40px auto;
}

.tel a:hover {
  color: #756257;
}

.tel a:focus {
  color: #756257;
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}

.tel a:active {
  color: #756257;
  border: none;
  opacity: 0.3;
}

.footer-logo {
  grid-column: 3;
  margin-left: 53px;
  margin-top: 42px;
  width: 160px;
  height: 70px;
}

.footer-logo svg {
  fill: #000000;
}

.footer-logo svg:hover {
  fill: #756257;
}

.footer-logo svg:focus {
  fill: #756257;
  outline: 3px solid #83B3D3;
  border-radius: 10px;
  padding: 3px;
}

.footer-logo svg:active {
  fill: #756257;
  opacity: 0.3;
}

.main-background {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  max-width: 1200px;
  height: 400px;
  background-image: url("../images/catalog-background1.png");
  padding: 10px 0px 0 71px;
  
}

.inner-header-title {
  font-size: 60px;
  line-height: 68px;
  padding-top: 31px;
  margin: 0;
  text-align: start;
  text-transform: none;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  margin: -1.5px 0 0 0;
  color: #FFFFFF;
  list-style-type: none;
}

.breadcrumbs-item {
  font-size: 16px;
line-height: 21px;
margin: 0px 11px 0 1px;
  color: inherit;
}

.breadcrumbs-item svg{
  fill: #FFFFFF;
}

.breadcrumbs-item:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  opacity: 1;
  outline: 3px solid #83B3D3;
  border-radius: 4px;
  padding: 3px;
}

.breadcrumbs-link:active {
  outline: none;
  opacity: 0.3;
}

.catalog-filter-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 43px 0 30px 0;
  
}

.catalog-filter-infr {
  padding: 0;
}

.catalog-filter-item {
  list-style-type: none;
  padding-bottom: 14px;
  padding-left: 1px;
  color: #FFFFFF;
}

.control {
  position: relative;
  display: block;
  padding-left: 40px;
}

/* Mark */
.control-mark {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 4px;
}

.control:hover .control-mark {
  background: rgba(255, 255, 255, 0.6);

}
.control:focus .control-mark {
background: rgba(255, 255, 255, 0.6);
border: 3px solid #83B3D3;
border-radius: 4px;
}

.control:active .control-mark {
background: rgba(255, 255, 255, 0.3);
border: none;
}

.control-input:disabled + .control-mark {
  border-color: #242424;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
position: absolute;
left: 4px;
top: 5px;
width: 11px;
height: 5px;
border-left: 2px solid #3F5E72;;
border-bottom: 2px solid #3F5E72;;
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
transform: rotate(-45deg);
content: "";
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.control-label {
font-size: 18px;
line-height: 23px;
}

.grid-filter {
  display: grid;
  grid-template-columns: 287px 160px;
  gap: 81px;
}


.range-scale {
  position: relative;
  margin-top: 30px;
border: 2px solid rgba(255, 255, 255, 0.3);
  
}
.range-bar {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid rgba(255, 255, 255, 1);
}

.range-toggle, .range-toggle:hover {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
border-radius: 5px;
  cursor: pointer;
}

.range-toggle:focus {
  border: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
} 


.range-toggle:active {
  border: 2px solid #83B3D3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
  border-radius: 5px;

}

.toggle-min {
  top: -12px;
  left: -2px;
}

.toggle-max {
  top: -12px;
  right: -7px;
}

.labels {
  display: flex;
}

.catalog-filter-group {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  border: none;
}
.range-input {
  
  border: 2px solid #FFFFFF;
box-sizing: border-box;
background: none;
color: #FFFFFF;
height:48px;
width: 145px;
font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
padding-top: 8px;
padding-left: 17px;
}
.min {
  border-radius: 4px 0 0 4px;
  border-right: 1px solid #FFFFFF;
}
.max {
  border-radius: 0 4px 4px 0;
  border-left: 1px solid #FFFFFF;
}

.range-input:hover {
border: 2px solid rgba(255, 255, 255, 0.6);
box-sizing: border-box;
}

.range-input:focus {
  border: 2px solid rgba(255, 255, 255);
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 3px #81B3D2;
  }

  .range-input:active {
  background: #756257;
border: 2px solid #FFFFFF;
box-sizing: border-box;
box-shadow: none;
  }
  .catalog-filter-label {
    position: relative;
  }
.min-tr {
  position: absolute;
  color: rgb(255, 255, 255, 0.3);
  left: 114px;
  top: 13px;
  font-size: 18px;
  line-height: 23px;
}
.max-tr {
  position: absolute;
  color: rgb(255, 255, 255, 0.3);
  left: 108px;
  top: 13px;
  font-size: 18px;
  line-height: 23px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filter-range-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  margin-top: 43px;
  margin-left: 1px;
  margin-bottom: 34px;
}

.buttons .submit-button {
  width: 160px;
  height: 48px;
  background: #83B3D3;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 1px;
  margin-left: 1px;
  margin-bottom: 17px;
  border: none;
}

.buttons .submit-button:hover {
  background: #68A2CA;
}

.buttons .submit-button:focus{
border: 3px solid #FFFFFF;
}

.buttons .submit-button:active {
  color:rgba(255, 255, 255, 0.3);
  border: none;
}

.buttons .reset-button {
  width: 160px;
  height: 32px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  background: transparent;
  color: #FFFFFF;
  border: none;
  margin-left: 1px;
}

.buttons .reset-button:hover {
  opacity: 0.6;
}

.buttons .reset-button:focus {
  opacity: 1;
  border: 3px solid #83B3D3;
box-sizing: border-box;
border-radius: 4px;
}

.buttons .reset-button:active {
  opacity: 0.3;
  border:none;
}

.catalog-hotels {
  display: flex;
}

.catalog-filter {
  display: grid;
  width: 528px;
  grid-template-columns: 216px 312px 287px 241px;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
}


.sorting {
  margin: 28px 72px 55px 72px;
  display: flex;
  align-items: center;
}

.sorting a {
  margin-left: 8px;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  border-radius: 4px;
}

.sorting h1 {
  color: #000000;
  text-transform: uppercase;
  line-height: 39px;
}

.sorting-left {
  margin-right: 191px;
}

.sorting-type {
  margin-right: auto;
}

.sorting-container .button {
  width: 48px;
  height: 48px;
  display: inline-block;
  box-sizing: border-box;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #FFFFFF;
  border: 2px solid #E6E6E6;

}

.card-grid-toggle svg {
  fill: #000000;
}

.card-grid-toggle-current {
  border: 2px solid #000000;
}
.card-grid-toggle:hover {
  border: 2px solid #83B3D3;
box-sizing: border-box;
border-radius: 4px;
}

.card-grid-toggle:focus {
  border: 2px solid #83B3D3;
box-sizing: border-box;
border-radius: 4px;
}
.card-grid-toggle:active {
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
}


.catalog-page {
  margin: 0 62px 0 53px;
 
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin-bottom: 39px;
}

.hotel-list li {
  margin-right: 30px;
  padding: 0;
}

.hotel-card {
  width: 300px;
  height: 437px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 20px;

}

.hotel-card-link {
  text-decoration: none;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.hotel-card-image:hover {
  opacity: 0.6;
}
.hotel-card-image:focus {
  outline: 3px solid #83B3D3;
  opacity: 1;
}
.hotel-card-image:active {
  opacity: 0.3;
  outline: none;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 32px;
  margin: 10px 0;
}

.type-price {
  width: 300px;
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  height: 23px;
  margin:7px 0;
}

.hotel-card-type {
  width: 133px;
}

.hotel-card-price {
  width: 143px;
}

.hotel-card-buttons {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

.hotel-card .button {
  height: 37px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.hotel-card-podrobnee {
  background: #756257;
  width: 133px;
}
.hotel-card-podrobnee:hover {
  background: #615048;
}

.hotel-card-podrobnee:focus {
  background: #615048;
  outline: 3px solid #83B3D3;
}

.hotel-card-podrobnee:active {
color: rgba(255, 255, 255, 0.3);
outline: none;
}

.hotel-card-fav {
width: 140.94px;
background: #83B3D3;
}

.hotel-card-fav:hover {
  background: #68A2CA;
outline: 1px solid #756257;
border-radius: 4px;
}

.hotel-card-fav:focus {
background: #68A2CA;
outline: 3px solid #756257;
box-sizing: border-box;
}

.hotel-card-fav:active {
color: rgba(255, 255, 255, 0.3);
background: #68A2CA;
outline: 1px solid #756257;
}

.stars-rating {
  margin: 8px 0;
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.hotel-card-stars {
  grid-area: 6/2/7/3;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hotel-card-rating {
  width: 160px;
  height: 37px;
  background: #F2F2F2;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  font-style: normal;
  font-weight: normal;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  grid-area: 6/3/7/4;
}

.hotel-card-fav-villas {
  width: 140.94px;
  height: 37px;
  left: 159.06px;
  top: 0px;
  background: #7DB54F;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  grid-area: 5/3/6/4;
}
.hotel-card-fav-villas:hover {
  background: #6C9E42;
}

.hotel-card-fav-villas:focus {
  background: #6C9E42;
  outline: 3px solid #756257;
}

.hotel-card-fav-villas:active {
color: rgb(255, 255, 255, 0.3);
outline: none;
}

.show-more {
  margin: 30px 0 30px 10px;
}

.pagination-show-more {
  /* Загрузить ещё */
  height: 60px;
  width: 620px;
  background: #83B3D3;
  border-radius: 4px;
  border: #FFFFFF;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 0px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.pagination-show-more:hover {
  background: #68A2CA;
}

.pagination-show-more:focus {
  background: #68A2CA;
  outline: 3px solid #756257;
  border: none;
 
}

.pagination-show-more:active {
  color: rgba(163, 192, 211, 0.3);
  border: none;
}

.container {
  width: 1052px;
  display: flex;
  margin: 0 auto;
}

.pagination-container {
  display: flex;
  margin-top: 30px;
  margin-left: -1px;
}

.pagination {
  display: flex;
  margin-top: 0;
  margin-right: 291px;
  padding: 0;
  list-style-type: none;
  justify-content: space-between;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  background-color: #83B3D3;
  text-decoration: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 55px;
  height: 55px;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}

.pagination-link:hover {
  background: #68A2CA;
}

.pagination-link:focus {
  background: #68A2CA;
  outline:  3px solid #756257;
}
.pagination-link:active {
  background: #68A2CA;
  outline: none;
  border:none;
  color: rgba(255, 255, 255, 0.3)
}

.pagination-current {
  color: #242424;
  background-color: #F2F2F2;
  cursor: pointer;
}
.pagination-current:hover {
  color: #FFFFFF;
  background: #68A2CA;
  cursor: pointer;
}

.pagination-current:focus {
  background: #68A2CA;
  outline:  3px solid #756257;
}
.pagination-current:active {
  background: #68A2CA;
  outline: none;
  border:none;
  color: rgba(255, 255, 255, 0.3)
}

.sorting-container {
  display: flex;
}

.hotels-on-page {
  line-height: 23px;
  padding-top: 16px;
  margin-right: 51px;
}

.select-control-first {
  width: 287px;
  height: 46px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 18px;
line-height: 23px;
  color: #333333;
  padding-top: 7px;
  padding-bottom: 13px;
  padding-left: 16px;
  margin-right: 72px;
  letter-spacing: -1.4px;
}
.select-control-first:hover {
  border: 2px solid #83B3D3;
box-sizing: border-box;
border-radius: 4px;
}
.select-control-first:focus {
border: 2px solid #83B3D3;
box-sizing: border-box;
border-radius: 4px;
}
.select-control-first:active {
border: 2px solid #E6E6E6;
box-sizing: border-box;
border-radius: 4px;
opacity: 0.3;
}

.select-control {
  width: 160px;
  height: 48px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  line-height: 23px;
  font-size: 18px;
  padding-top: 3px;
  padding-left: 16px;
}

.subscribe-cat {
  display: flex;
  flex-direction: column;
  margin: 0 0;
  color: #000000;
  max-width: 1200px;
  max-height: 411px;
  padding: 55px 0 142px 180px;
}

.subscribe-catalog {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.subscribe-cat h1 {
  width: 720px;
  height: 36px;
  margin: 0 0 0 60px;
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.subscribe-cat p {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 46px 60px 44px 60px;
  width: 720px;
  height: 52px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
.modal-container-close {
  display: none;
}
.modal {
  position: relative;
  margin: auto;
  padding: 62px 66px 70px 74px;
  background-color: #ffffff;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  width: 575px;
}

.modal-search {
  display: flex;
  justify-content: flex-start;
  
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 56px;
  right: 67px;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border-radius: 50%;
  border: none;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
} 

.modal-close-button:hover {
  background: #E6E6E6;
}

.modal-close-button:focus{
  border: 3px solid #83B3D3;
}

.modal-close-button:active {
  fill:rgba(0, 0, 0, 0.3);
  border: none;
}

.modal-title {
  height: 67px;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 40px;
text-transform: uppercase;
color: #000000;
}

.search-form .field-group {
  margin: 0 0 40px;
}

.field-group {
  display: flex;
  margin: 0;
  padding: 0;
  height: 50px;
  font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 40px;
align-items: center;
color: #000000;
}

.field-group-date {
  position: relative;
  display: flex;
  justify-content: space-between;
  
  padding: 0;
  font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 40px;
}

.field-group-flex {
  display: flex;
  justify-content:space-between;
  width: 575px;
  
}
.search-form .field-first {
  width: 401px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
}

.message {
  position: absolute;
  left:155px;
  top:100%;
  height: 29px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.error {
 color: #FF5757; 
}

.info {
  color: #333333;
}

.field-group-age {
  display: flex;
  justify-content: space-between;
}

.field-group-adults {
  width: 155px;
  justify-content: space-between;
}

.field-group-children {
  position: relative;
 width: 96px;

}

.modal-form-field{
  position: relative;
  height:50px;
  padding-left: 19px;
  background: #F2F2F2;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 40px;
border: none;
display: flex;
align-items: center;
}

.modal-form-field:hover {
  background: #E6E6E6;
}

.modal-form-field:focus{
  outline: 3px solid #83B3D3;
}

.modal-form-field:active {
  background: #FFFFFF;
  outline: 2px solid #000000;

}
 .calendar {
   position: absolute;
   right: 20px;
 } 

.minus-plus {
  display: flex;
  height: 50px;
  border: none;
}

.button-minus-plus {
  width: 50px; 
  border: none;
  border-radius: 0;
  background: #F2F2F2;
  padding: 0px;
  
}

.plus-adults{
  margin-right: 56px;
}
.minus {
  border-radius: 4px 0 0 4px;
}
.plus {
  border-radius:0 4px 4px 0;
}

.buttons-minpl {
  width: 25px;
  height: 25px;
  margin: 15px 10px ;
  padding: 0;
  border: 1px;
  cursor: pointer;
  opacity: 0.3;
}

.button-minus {
  padding-bottom: 12px;
}
.button-plus {
  padding: 0 0 2px 0;

}

.buttons-minpl:hover {
opacity: 1;
}

.buttons-minpl:focus {
outline: 3px solid #83B3D3;
border-radius: 4px;
opacity: 1;
}

.buttons-minpl:active {
  border: none;
  }

.field-second {
  display: flex;
  width: 33px;
  height: 50px;
  border-radius: 0;
  padding: 0;
  text-align: center;
}

.tooltip {
  position: absolute;
  top: 10px;
  left: 52px;
  width: 25px;
  height: 25px;
}

.tooltip-toggle {
  border: none;
  width: 25px;
  height: 25px;
  color: #FFFFFF;
  border-radius: 50%;
  background: #83B3D3;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-toggle:hover {
  background: #68A2CA;
}

.tooltip-text {
  position: absolute;
  display: flex;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: start;
  color: #FFFFFF;
  width: 216px;
  background: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 18px;
  padding: 15px 18px 24px 22px;
  z-index: 1;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text:before {
  content:'';
  background-image: url("../images/triangle.svg");
  width: 19px;
  height: 9px;
  position:absolute;
  bottom: 100%;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}

.form-label-icon {
  position: relative;
  padding-right: 25px;
}
.search-form-button {
  width: 575px;
  height: 60px;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  margin: auto;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #83B3D3;
  border-radius: 10px;
  border:none;
}

.search-form-button:hover {
  background: #68A2CA;
}
  
  .search-form-button:focus {
    background: #68A2CA;
    outline: 3px solid #756257;
    border: none;

  }
  
  .search-form-button:active {
    color: rgba(163, 192, 211, 0.3);
    border: none;
  }
  
