@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.page-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.5);
  background: #FFFFFF;
}

body {
  height: 100%;
  margin: 0 auto;
  padding:0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #242424;
  background: #e5e5e5 ;
  width: 1200px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.1)
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header { 
  max-width: 1200px;   
  margin: auto;
  background: #FFFFFF;
}

.navigation {
  display: flex;
  margin: -1px auto 0;
  background: #FFFFFF;
}

.navigation-link-logo {
  position: absolute;
  margin: 1px 0 0 70px;
  z-index: 1;
}

.navigation-list {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-width: 629px;
  margin: 0 0 0 239px;
  padding: 0;
  list-style-type: none;
  align-items: center;
}
.navigation-list-user {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

.menu_active::after {
  content: '';
  display: block;
  width: calc(100% - 36px);
  height: 3px;
  background-color: gray;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%)
}

.menu_active {
  position: relative;
}

.navigation-link {
  position: relative;
  padding: 21px 17px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-link:focus {
  color: #000000;
}

.navigation-link:focus .circle {
  color: rgba(255, 255, 255, 0.3);;
 }

.navigation-link:hover {
  color: #756257;
}
.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-list:last-child {
  margin:0;
}

.navigation-icon {
  position: absolute;
  fill: #000000;
}

.navigation-icon:hover {
  fill: #756257;
}

.navigation-link:active .circle {
  fill: rgba(117, 98, 87, 0.6);
  color: rgba(255, 255, 255, 0.3);;
 }

.navigation-icon:active {
  fill: rgba(117, 98, 87, 0.3);
}



.nav-fav {
  position: relative;
  margin: 0px 23px 0 9px;
}
.circle {
  position: absolute;
  width: 20px; 
  height: 20px;
  left: 22px;
  top: 3px;
  background: #7DB54F;
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.1em;
  color: #FFFFFF;
}


.circle span {
  margin:5px;
}



.hotel-search {
  padding:0;
  margin: 0;
  min-height: 325px;
  text-align: center;
}

.hotel-search .title {
  color: #000000;
  margin: 90px auto 28px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.hotel-search p {
  width: 720px;
  min-height: 52px;
  margin: 0 auto 57px 232px;
  font-size: 22px;
  line-height: 26px;
  
}

.button-hotel-search {
  background: #756257;
  width: 575px;
  min-height: 60px;
  border-radius: 10px;
  font-family: inherit;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 auto;
}

.button-hotel-search:hover {
  background: #615048;
}

.button-hotel-search:focus {
  background: #615048;
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}

.button-hotel-search:active {
  background: #615048;
  border: none;
  color: rgba(255, 255, 255, 0.3);
}

.subscription-form-index {
  display: flex;
  justify-content: center;
  width: 800px;
  height: 60px;
  background: #F2F2F2;
  border-radius: 10px 10px 10px 10px;
  padding: 0;
  margin-left: 0px;
}
.subscription-form {
  display: flex;
  justify-content: center;
  width: 800px;
  height: 60px;
  background: #F2F2F2;
  border-radius: 10px 10px 10px 10px;
  padding: 0;
  margin-left: 20px;
}

.subscription-form-email {
  width: 600px;
  height: 60px;
  display: flex;
  border-radius: 10px 10px 10px 10px;
  padding: 0;
}

.email {
  width: 578px;
  height: 60px;
  font-size: 18px;
  color: #000000;
  opacity: 0.6;
  background: #F2F2F2;
  border: none;
  padding: 0 0 0 22px;
  letter-spacing: -0.5px;
  border-radius: 10px 0 0 10px;
}

.email:hover {
  background: #E6E6E6;
}

.email:focus {
outline: 3px solid #83B3D3;
border-radius: 10px 0 0 10px;
}

.button-submit {
  width: 200px;
  height: 60px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  outline: none;
  cursor: pointer;
  background: #83B3D3;
  border-radius: 0px 10px 10px 0px;
  margin: 0;
  border-width: 0;
  letter-spacing: -2px;;
}

.button-submit:hover {
  background: #68A2CA;
}

.button-submit:focus {
  background: #68A2CA;
  outline: 3px solid #756257;
  border-radius: 0px 10px 10px 0px;
}

.button-submit:active {
  color: rgba(163, 192, 211, 0.3);
  border: none;
}

.advantages-image {
  max-height: 384px;
  background-color: #615048;
}

.button-want-here {
  padding: 12px 36px 8px;
  background-color: #756257;
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration:none;
}

.button-want-here:hover {
  background: #615048;
}

.button-want-here:focus {
  background: #615048;
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-want-here:active {
  background: #615048;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.main-container {
  flex: 1 1 auto;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background: #FFFFFF;
}

.wellcome {
  max-width: 1200px;
  height: 483px;
  background-size: cover;
  color: #000000;
  background-color: #9ebed3;
  background-image: url("../images/index-background.jpg");
}

.wellcome-text {
  display: block;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 25px;
}

.wellcome-divider {
  width: auto;
  margin-bottom: 0;
}

.sedona-welcome {
  min-height: 282px;
}

.sedona-welcome h2 {
  width: 720px;
  min-height: 72px;
  margin: 0 auto;
  padding-top: 64px;
  
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
 
}

.sedona-welcome p {
  margin: 29px auto;
  width: 720px;
  min-height: 36px;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

.subscribe {
  display: flex;
  flex-direction: column;
  margin: 0 0;
  max-width: 1200px;
  min-height: 245px;
  padding: 73px 200px 93px;
  background-color: #5c788b;
  text-align: center;
  background-image: url("../images/background.png");
}

.subscribe .title {
  width: 720px;
  min-height: 36px;
  margin: 0 auto;
  margin-top: 22px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.p-index {
  width: 720px;
  color: #FFFFFF;
  margin: 0 auto;
  margin-top: 28px;
  margin-bottom: 46px;
  font-size: 22px;
  line-height: 26px;
}

.advantages-cards {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-style: normal;
}

.advantages-icon {
  height: 76px;
  margin: 88px 0 0 163px;
  background-repeat: no-repeat;
}

.house {
  background-image: url("../images/icon-house.svg");
}

.burger {
  background-image: url("../images/icon-burger.svg");
}

.gift {
  margin-left: 167px;
  background-image: url("../images/icon-gift.svg");
}

.no-icon-adv {
  margin-top: 96px;
  margin-bottom: 30px;
}

.advantages-item {
  margin: 0;
  padding: 0;
  width: 400px;
  min-height: 384px;
  color: #333333;
}

.item-lightgrey {
  background: rgba(131, 179, 211, 0.12);
}

.item-road {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-blue {
  color: #FFFFFF;
  background: #83B3D3;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.advantages-blue h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.advantages-blue p,
.advantages-blue span {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.advantages {
  font-weight: normal;
  font-size: 18px;
  color: #333333;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-blue p {
  width: 220px;
  height: 63px;
  margin: 0 auto;
  margin-top: 29px;
  
}

.style-one p {
  width: 250px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
}

.style-two h3 {
  font-size: 24px;
  line-height: 28px;
  margin-top: 100px;
}

.style-two p {
  width: 250px;
  height: 42px;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 18px;
  line-height: 21px;
}

.advantages-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;  
  line-height: 28px;
}

.sedona-welcome {
  color: #000000;
}

.tel a{
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer-flex {
  display: grid;
  grid-template-columns: 240px 720px 240px;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  background: #FFFFFF;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social {
  grid-column: 1;
  width: 140px;
  margin-left: 69px;
  margin-top: 47px;
}

.footer-social-item {
  width: 25px;
  height: 25px;
  margin-right: 18px;
  fill: #68A2CA;
  text-align: center;
}

.footer-social-link {
  display: block;
  height: 15px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-item a {
  height: 18px;
  padding: 3px;
}

.footer-social-item svg {
  fill: #83B3D3;
}
.footer-social-item svg:hover {
  fill: #68A2CA
}

.footer-social-item a:focus {
  fill: #756257;
  outline: 3px solid #83B3D3;
  border-radius: 5px;
}

.footer-social-item a:active {
  fill: #756257;
  border: none;
  opacity: 0.3;
}

.tel {
  grid-column: 2;
  margin: 40px auto;
}

.tel a:hover {
  color: #756257;
}

.tel a:focus {
  color: #756257;
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.tel a:active {
  color: #756257;
  border: none;
  opacity: 0.3;
}

.footer-logo {
  grid-column: 3;
  margin-left: 53px;
  margin-top: 43px;
  width: 115px;
  height: 34px;
  fill: #000000;
}

.footer-logo a {
  width: 109px;
  height: 28px;
}

.footer-logo a:hover {
  fill: #756257;
}

.footer-logo a:focus {
  fill: #756257;
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}

.footer-logo a:active {
  fill: #756257;
  opacity: 0.3;
}

.main-background {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  max-width: 1200px;
  min-height: 400px;
  background-color: #4a88b1;
  background-image: url("../images/catalog-background1.png");
  padding: 7px 0px 0 71px;
  
}

.inner-header-title {
  font-size: 60px;
  line-height: 68px;
  padding-top: 30px;
  margin: 0;
  text-align: start;
  text-transform: none;
  color: #FFFFFF;
}

.breadcrumbs {
  position: relative;
  display: flex;
  padding: 0;
  margin: 0px 8px 43px 2px;
  color: #FFFFFF;
  list-style-type: none;
}

.breadcrumbs-item {
  font-size: 16px;  
  padding: 0px;
  line-height: 21px;
  margin: 0 26px 0 0;
  color: inherit;
}

.breadcrumbs-link {
  color: #FFFFFF;
  text-decoration: none;
}

.breadcrumbs-item svg{
  fill: #FFFFFF;
}

.breadcrumbs-item:hover {
  opacity: 0.6;
}

.breadcrumbs-item a:focus {
  opacity: 1;
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.breadcrumbs-item a:active {
  outline: none;
  opacity: 0.3;
}

.catalog-filter-title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 40px 0 32px 0;
  
}
.arrow-right {
  position: absolute;
  left: 26px;
  top: 8px;
}

.catalog-filter-item {
  list-style-type: none;
  padding-bottom: 14px;
  padding-left: 0;
  color: #FFFFFF;
}

.control {
  position: relative;
  display: block;
  padding-left: 42px;
}

.control-mark {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 4px;
}

.control:hover .control-mark {
  background: rgba(255, 255, 255, 0.6);
}

.control-input[type="checkbox"]:focus + .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83b3d3;
  outline-offset: -1px;
}

.control:active .control-mark {
  background: rgba(255, 255, 255, 0.3);
  border: none;
}

.control-input:disabled + .control-mark {
  border-color: #242424;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  left: 4px;
  top: 5px;
  width: 11px;
  height: 5px;
  border-left: 2px solid #3F5E72;;
  border-bottom: 2px solid #3F5E72;;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  content: "";
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:focus + .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83b3d3;
  outline-offset: -1px;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.control-label {
font-size: 18px;
line-height: 23px;
}

.grid-filter {
  display: grid;
  grid-template-columns: 287px 160px;
  gap: 80px;
  margin-top: 33px;
}

.range-scale {
  position: relative;
  margin-top: 30px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  
}
.range-bar {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid rgba(255, 255, 255, 1);
}

.range-toggle, .range-toggle:hover {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
border-radius: 5px;
  cursor: pointer;
}

.range-toggle:focus {
  border: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
} 

.range-toggle:active {
  border: 2px solid #83B3D3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.toggle-min {
  top: -12px;
  left: -3px;
}

.toggle-max {
  top: -12px;
  right: -6px;
}

.labels {
  display: flex;
  margin: 2px 0;
}

.catalog-filter-group {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  border: none;
}


.range-input {
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  background: none;
  color: #FFFFFF;
  height:48px;
  width: 145px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  padding-top: 8px;
  padding-left: 16px;
}
.min {
  border-radius: 4px 0 0 4px;
  border-right: 1px solid #FFFFFF;
}
.max {
  border-radius: 0 4px 4px 0;
  border-left: 1px solid #FFFFFF;
}

.range-input:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
}

.range-input:focus {
  border: 2px solid rgba(255, 255, 255);
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 3px #81B3D2;
}

  .range-input:active {
  background: #756257;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: none;
}
 .catalog-filter-label {
  position: relative;
}
  .min-tr {
  position: absolute;
  color: rgb(255, 255, 255, 0.3);
  left: 114px;
  top: 13px;
  font-size: 18px;
  line-height: 23px;
}
.max-tr {
  position: absolute;
  color: rgb(255, 255, 255, 0.3);
  left: 108px;
  top: 13px;
  font-size: 18px;
  line-height: 23px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filter-range-title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 0 0 0 1px;
}

.buttons .submit-button {
  width: 160px;
  height: 48px;
  background: #83B3D3;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 3px;
  margin-left: 2px;
  margin-bottom: 17px;
  border: none;
}

.buttons .submit-button:hover {
  background: #68A2CA;
}

.buttons .submit-button:focus{
border: 3px solid #FFFFFF;
}

.buttons .submit-button:active {
  color:rgba(255, 255, 255, 0.3);
  border: none;
}

.buttons .reset-button {
  width: 160px;
  height: 32px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  background: transparent;
  color: #FFFFFF;
  border: none;
  margin-left: 2px;
}

.buttons .reset-button:hover {
  opacity: 0.6;
}

.buttons .reset-button:focus {
  opacity: 1;
  border: 3px solid #83B3D3;
box-sizing: border-box;
border-radius: 4px;
}

.buttons .reset-button:active {
  opacity: 0.3;
  border:none;
}

.catalog-hotels {
  display: flex;
}

.catalog-filter {
  display: grid;
  width: 528px;
  grid-template-columns: 216px 312px 287px 241px;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
}


.sorting {
  margin: 42px 72px 72px 72px;
  display: flex;
  align-items: center;
}

.sorting a {
  margin-left: 8px;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  border-radius: 4px;
}

.sorting-left {
  margin: 0px 191px 0 0;
  color: #000000;
  text-transform: uppercase;
  line-height: 39px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

.sorting-type {
  margin-right: auto;
}

.sorting-container .button {
  width: 48px;
  height: 48px;
  display: inline-block;
  box-sizing: border-box;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #FFFFFF;
  border: 2px solid #E6E6E6;
}

.card-grid-toggle svg {
  fill: #000000;
}

.card-grid-toggle-current {
  border: 2px solid #000000;
}
.card-grid-toggle:hover {
  border: 2px solid #83B3D3;
box-sizing: border-box;
border-radius: 4px;
}

.card-grid-toggle:focus {
  border: 2px solid #83B3D3;
box-sizing: border-box;
border-radius: 4px;
}
.card-grid-toggle:active {
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
}

.catalog-page {
  margin: 0px 62px 0 53px;
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style-type: none;
  margin-bottom: 39px;
}

.hotel-list li {
  margin-right: 57px;
  padding: 0;
}
.hotel-list li:nth-child(3n) {
  margin-right: 0px;
  padding: 0;
}

.hotel-card {
  width: 300px;
  min-height: 437px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;


}

.hotel-card-link {
  text-decoration: none;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.hotel-card-image:hover {
  opacity: 0.6;
}
.hotel-card-image:focus {
  outline: 3px solid #83B3D3;
  opacity: 1;
}
.hotel-card-image:active {
  opacity: 0.3;
  outline: none;
}

.hotel-card-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  margin: 10px 0;
}

.type-price {
  width: 300px;
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  height: 23px;
  margin:7px 0;
}

.hotel-card-type {
  width: 133px;
}

.hotel-card-price {
  width: 143px;
}

.hotel-card-buttons {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

.hotel-card .button {
  height: 37px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.hotel-card-podrobnee {
  background: #756257;
  width: 133px;
}
.hotel-card-podrobnee:hover {
  background: #615048;
}

.hotel-card-podrobnee:focus {
  background: #615048;
  outline: 3px solid #83B3D3;
}

.hotel-card-podrobnee:active {
color: rgba(255, 255, 255, 0.3);
outline: none;
}

.hotel-card-fav {
width: 140.94px;
background: #83B3D3;
}

.hotel-card-fav:hover {
  background: #68A2CA;
outline: 1px solid #756257;
border-radius: 4px;
}

.hotel-card-fav:focus {
background: #68A2CA;
outline: 3px solid #756257;
box-sizing: border-box;
}

.hotel-card-fav:active {
color: rgba(255, 255, 255, 0.3);
background: #68A2CA;
outline: 1px solid #756257;
}

.stars-rating {
  margin: 8px 0;
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.hotel-card-stars {
  grid-area: 6/2/7/3;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hotel-card-rating {
  width: 160px;
  height: 37px;
  background: #F2F2F2;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  font-style: normal;
  font-weight: normal;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  grid-area: 6/3/7/4;
}

.hotel-card-fav-villas {
  width: 140.94px;
  height: 37px;
  left: 159.06px;
  top: 0px;
  background: #7DB54F;
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  grid-area: 5/3/6/4;
}
.hotel-card-fav-villas:hover {
  background: #6C9E42;
}

.hotel-card-fav-villas:focus {
  background: #6C9E42;
  outline: 3px solid #756257;
}

.hotel-card-fav-villas:active {
color: rgb(255, 255, 255, 0.3);
outline: none;
}

.show-more {
  margin: 30px 0 30px 10px;
}

.pagination-show-more {
  height: 60px;
  width: 620px;
  background: #83B3D3;
  border-radius: 4px;
  border: #FFFFFF;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 0px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.pagination-show-more:hover {
  background: #68A2CA;
}

.pagination-show-more:focus {
  background: #68A2CA;
  outline: 3px solid #756257;
  border: none;
}

.pagination-show-more:active {
  color: rgba(163, 192, 211, 0.3);
  border: none;
}

.container {
  width: 1056px;
  display: flex;
  margin: 0 auto;
}

.pagination-container {
  display: flex;
  margin-top: 27px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  width: 670px;
  margin-top: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  background-color: #83B3D3;
  text-decoration: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-width: 55px;
  height: 55px;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}

.pagination-link:hover {
  background: #68A2CA;
}

.pagination-link:focus {
  background: #68A2CA;
  outline:  3px solid #756257;
}
.pagination-link:active {
  background: #68A2CA;
  outline: none;
  border:none;
  color: rgba(255, 255, 255, 0.3)
}

.pagination-current {
  color: #242424;
  background-color: #F2F2F2;
  cursor: pointer;
}
.pagination-current:hover {
  color: #FFFFFF;
  background: #68A2CA;
  cursor: pointer;
}

.pagination-current:focus {
  background: #68A2CA;
  outline:  3px solid #756257;
}
.pagination-current:active {
  background: #68A2CA;
  outline: none;
  border:none;
  color: rgba(255, 255, 255, 0.3)
}

.sorting-container {
  display: flex;
}

.hotels-on-page {
  line-height: 23px;
  padding-top: 16px;
  margin-right: 57px;
}

.select-control-first {
  position: relative;
  width: 287px;
  height: 46px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  padding-left: 16px;
  margin-right: 72px;
  letter-spacing: -1px;
  -webkit-appearance: none;
}


.select-control-first:hover {
  border: 2px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}
.select-control-first:focus {
  border: 2px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}
.select-control-first:active {
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  opacity: 0.3;
}

.arrow-down {
  position: absolute;
  background: url("../images/arrow.png") no-repeat;
  opacity: 0.3;
  margin-left: 255px;
  margin-top: 20px;
}

.select-control {
  position: relative;
  width: 158px;
  height: 50px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  line-height: 23px;
  font-size: 18px;
  margin-top: 2px;
  padding-left: 13px;
  -webkit-appearance: none;
}
.arrow-cont-two {
  position: relative;
}
.arrow-down-two {
  position: absolute;
  background: url("../images/arrow.png") no-repeat;
  opacity: 0.3;
  margin-left: 353px;
  margin-top: 23px;
  
}

.subscribe-cat {
  display: flex;
  flex-direction: column;
  margin: 0 0;
  color: #000000;
  max-width: 1200px;
  max-height: 411px;
  padding: 55px 0 142px 180px;
}

.subscribe-catalog {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.subscribe-cat .title {
  width: 720px;
  min-height: 36px;
  margin: 0 0 0 60px;
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.subscribe-cat p {
  display: block;
  min-height: 52px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 46px 60px 47px 60px;
  width: 720px;
}

.modal-container {
  display: flex; 
  justify-content: center; 
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: none;
}

.modal {
  position: relative;
  display: flex;
  padding: 62px 66px 70px 74px;
  background-color: #ffffff;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  width: 575px;
}

.modal-search {
  display: flex;
  justify-content: flex-start;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 56px;
  right: 67px;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border-radius: 50%;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
} 

.modal-close-button:hover {
  background: #E6E6E6;
}

.modal-close-button:focus{
  border: 3px solid #83B3D3;
}

.modal-close-button:active {
  fill:rgba(0, 0, 0, 0.3);
  border: none;
}

.modal-title {
  height: 67px;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
}

.search-form .field-group {
  margin: 0 0 40px;
}

.field-group {
  display: flex;
  margin: 0;
  padding: 0;
  height: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  align-items: center;
  color: #000000;
}

.field-group-date {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
}

.field-group-flex {
  display: flex;
  justify-content:space-between;
  width: 575px;
  
}
.search-form .field-first {
  width: 401px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
}

.message {
  position: absolute;
  left:155px;
  top:100%;
  height: 29px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.error {
 color: #FF5757; 
}

.info {
  color: #333333;
}

.field-group-age {
  display: flex;
  justify-content: space-between;
  
}

.field-group-adults {
 width: 370px;
  justify-content: space-between;
}

.field-group-children {
  position: relative;
  width: 250px;

}

.modal-form-field{
  position: relative;
  height:50px;
  padding-left: 29px;
  background: #F2F2F2;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  border: none;
  display: flex;
  align-items: center;
}

.modal-form-field:hover {
  background: #E6E6E6;
}

.modal-form-field:focus{
  outline: 3px solid #83B3D3;
}

.modal-form-field:active {
  background: #FFFFFF;
  outline: 2px solid #000000;

}
 .calendar {
   position: absolute;
   top: 0;
   left: 0;
 } 

 .choose-date-button {
   position: absolute;
   width: 16px;
   height: 14px;
   right: 15px;
   border: none;
   cursor: pointer;
 }

.minus-plus {
  display: flex;
  height: 50px;
  border: none;
}

.button-minus-plus {
  width: 50px; 
  border: none;
  border-radius: 0;
  background: #F2F2F2;
  padding: 0px;
}

.plus-adults{
  margin-right: 56px;
}
.minus {
  border-radius: 4px 0 0 4px;
}
.plus {
  border-radius:0 4px 4px 0;
}

.buttons-minpl {
  width: 25px;
  height: 25px;
  margin: 15px 10px ;
  padding: 0;
  border: 1px;
  cursor: pointer;
  opacity: 0.3;
}

.button-minus {
  padding-bottom: 12px;
}
.button-plus {
  padding: 0 0 2px 0;

}

.buttons-minpl:hover {
opacity: 1;
}

.buttons-minpl:focus {
outline: 3px solid #83B3D3;
border-radius: 4px;
opacity: 1;
}

.buttons-minpl:active {
  border: none;
}

.field-second {
  display: flex;
  width: 33px;
  height: 50px;
  border-radius: 0;
  padding: 0;
  text-align: center;
}

.tooltip {
  position: absolute;
  top: 10px;
  left: 54px;
  width: 25px;
  height: 25px;
}

.tooltip-toggle {
  border: none;
  width: 25px;
  height: 25px;
  color: #FFFFFF;
  border-radius: 50%;
  background: #83B3D3;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-toggle:hover {
  background: #68A2CA;
}

.tooltip-text {
  position: absolute;
  display: flex;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: start;
  color: #FFFFFF;
  width: 216px;
  background: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 18px;
  padding: 15px 18px 24px 22px;
  z-index: 1;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text:before {
  content:'';
  background-image: url("../images/triangle.svg");
  width: 19px;
  height: 9px;
  position:absolute;
  bottom: 100%;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}

.form-label-icon {
  position: relative;
  padding-right: 25px;
}

.search-form-button {
  width: 575px;
  height: 60px;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  margin: auto;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #83B3D3;
  border-radius: 10px;
  border:none;
}

.search-form-button:hover {
  background: #68A2CA;
}
  
.search-form-button:focus {
    background: #68A2CA;
    outline: 3px solid #756257;
    border: none;

}
  
.search-form-button:active {
    color: rgba(163, 192, 211, 0.3);
    border: none;
  }
  


