@font-face {
  
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ptsans-400.woff2") format("woff2");  
    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

  html {
    height: 100%;
  }
  
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #242424;
    background: #FFFFFF;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .wellcome-divider {
    width: auto;
    margin-bottom: 0;
  }
  .hotel-search h1{
    color:#000000;
    margin-top: 91px;
    margin-bottom: 29px;
  }
  .hotel-search p{
    width: 720px;
    margin:0 auto;
    margin-bottom: 56px;
  }
  .button-want-here {
    width: 160px;
    height: 38px;
    background-color: #756257;
    border-radius: 4px;
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF!important;
    text-decoration: none;
    text-transform: uppercase;
  }

  .button-hotel-search {
    background: #756257;
    width: 575px;
    height: 60px;
    border-radius: 10px;
    font-family: inherit;
    color: #FFFFFF!important;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    margin: auto;
    margin-bottom: 93px;
  }

  .subscription-form {
    width: 600px;
    height: 60px;
    background: #F2F2F2;
    display: flex;
    border-radius: 10px 0 0 10px;
  }

  .email {
    width: 600px;
    height: 50px; /* задать другой размер?*/
    font-size: 18px;  
    color: #000000;
    opacity: 0.6;
  }

  .button-submit {
    width: 200px;
    height: 60px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #83B3D3;
    border-radius: 0px 10px 10px 0px;
    border: none;
  }

  .page-header {
    color: #242424;
    background: #FFFFFF;
  }

  .navigation {
    display: flex;
    width: 1200px;
    margin: 10px auto;
  }

  .navigation-list {
    width: 500px;
    display:flex;
    flex-wrap: wrap;
    margin: 0;
    margin-right: 30px;
    padding: 0;
    list-style-type: none;
  }

  .navigation-link-logo {
    width: 139px;
    margin: 0 30px 0px 70px;
  }

  .navigation-user {
    max-width: 250px;
    margin-left: auto;
  }

  .menu.navigation-item {
    padding: 0 17px;
  }

  .nav-user li {
    margin: 0 12px;
  }


 .navigation-link {
    display: block;
    font-family: "PT Sans", sans-serif; 
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    text-decoration: none;
  }
  .navigation-user .navigation-link {
    min-width: 18.05px;
    min-height: 18.1px;
  }

  .main-container {
    flex-grow: 1;
  }

  .page-container {
    width: 1200px;
    margin: 0 auto;
  }

  .wellcome {
    max-width: 1200px;
    height: 485px;
    background-size: cover;
    color: #000000;
    background-color: #ffffff;
    background-image: url("../images/index-background.jpg");
  }

  .wellcome-text {
    display: block;
    margin: 0 auto; 
    padding-top: 51px;
    padding-bottom: 25px;
  }

  .sedona-welcome {
    height: 282px;
  }

  .sedona-welcome h1{
    width: 720px;
    height: 72px;
    margin: 0 auto;
    padding-top: 63px;
    padding-bottom: 31px;
    color:#000000;
  }

  .sedona-welcome p{
    margin: 0 auto;
    width: 720px;
    height: 36px;
  }

  .subscribe {
    display: flex;
    flex-direction: column;
    margin: 0 0;
    max-width: 1200px;
    max-height: 411px;
    padding: 73px 200px 93px;
    max-width:1200px;
    background-image: url("../images/background.png");
 }

 .subscribe h1 {
    width: 720px;
    height: 36px;
    margin: 0 auto;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
 }

 .p-index {
    width: 720px;
    color: #FFFFFF;  
    margin: 0 auto;
    margin-top:46px;
    margin-bottom:46px;
  }

 .subscription-form-email {
    width: 800px;
    margin: 0 auto;
    padding: 0;
    display:flex;
 }

  .advantages-cards {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap:wrap;
  }

  .advantages-icon {
    margin-top: 89px;
  }

  .no-icon-adv {
    margin-top: 98px;
    margin-bottom: 30px;
  }
  
  .advantages-item {
    margin: 0;
    padding: 0;
    width: 400px;
    height: 384px;
    color: #333333;
  }
    
  .item-lightgrey {
    background: rgba(131, 179, 211, 0.12);   
  }

  .item-road {
    background: rgba(131, 179, 211, 0.2);
  }
 
  .advantages-blue {
    color: #FFFFFF;
    background: #83B3D3;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
  }

  .advantages-blue h3 {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .advantages-blue p,.advantages-blue span {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
  }

  .advantages {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;
    margin: 0;
    padding: 0;
  }

  .advantages-blue p{
    width: 220px;
    height: 63px;
    margin: 0 auto;
    margin-top: 30px;
  }

  .style-one p {
    width: 250px;
    height:73px;
    margin: 0 auto;
  }

  .style-two p {
    width: 250px;
    height: 42px;
    margin: 0 auto;
    margin-top: 30px;
  }

  h1  {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
  }

  p {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
  }

  .sedona-welcome  {
     color: #000000;
  }

  h4 {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
  }

  .page-footer-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }

  .social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

.footer-social {
    width: 107px;
    margin-left:72px;
    margin-top: 49px;
 }

 .footer-social-item {
  width: 25px;
  height: 18px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.tel {
    width:720px;
    margin-top: 40px;
}

.footer-link-logo {
    width: 114.9px;
    margin-top: 42px;
}

.header-page-logo{
  position: absolute;
  top: 0;
}
.main-background {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  max-width: 1200px;
  height: 408px;
  background-image: url("../images/catalog-background1.png");
  padding-left: 72px;
  padding-right: 72px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  padding-top:35px;
  margin: 0;
  text-align: start;
  margin-bottom: 5px;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  color: #FFFFFF;
  list-style-type: none;
}

.breadcrumbs-item {
  margin-right: 11px;
  color: inherit;
}

.catalog-filter-title {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.catalog-filter-infr, .catalog-filter-type {
  width: 270px;
}

.catalog-filter-group {
 border: none;
 padding: 0;
}

.catalog-filter-infr {
  padding: 0;
}

.catalog-filter-item {
  list-style-type: none;
  padding-bottom: 13px;
  line-height: 23px;
  padding-bottom: 13px;
  color:#FFFFFF;
}

.grid-filter {
  display: grid;
  grid-template-columns: 287px 160px;
  grid-template-rows: 48px 23px;
  gap: 20px 81px;

}
.price-control {
  display: flex;
}

.filter-range-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  margin-bottom: 34px;
}

.buttons .submit-button {
width: 160px;
height: 48px;
top: 299px;
background: #83B3D3;
border-radius: 4px;
font-family: "PT Sans", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
}

.buttons .reset-button {
  width: 160px;
  height: 23px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  background: transparent;
  color: #FFFFFF;
  border: none;
  }

.catalog-hotels {
  display: flex;
}

.catalog-filter {
  display: grid;
  width: 528px;
  grid-template-columns: 216px 312px 287px 241px;
}
.catalog-filter-list {
  padding: 0;
  margin: 0;
}

.sorting {
  margin: 44px 72px 53px 71px;
  display: flex; 
}

.sorting h1 {
  color: #000000;
  text-transform: uppercase;
}

.sorting-container {
  display: flex;
  color: #000000;
  padding: 17px 16px; 
  background-color: #ffffff;
}
  
.sorting-container .button {
  width: 48px;
  height: 48px;
}

.catalog-page {
  margin-left: 72px;
  margin-right: 72px;
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;  
  margin-bottom: 34px;
  padding: 0;
}

.hotel-card {
  width:340px;
  height: 438px;
  display: grid;
  grid-template-rows: 20px 226px min-content min-content min-content 20px;
  grid-template-columns: 20px 150px 150px 20px;
  row-gap: 16px;
  margin-bottom: 10px;
}

.hotel-card-link {
  grid-area: 2/2/4/3;
}

.hotel-card-title {
  margin: 0;
  grid-area: 3/ 2 / 4/ 4;
}
.hotel-card-type {
  grid-area: 4/2/5/3;
}

.hotel-card-price {
  grid-area: 4/3/5/4;
}

.hotel-card .button {
  width: 133.01px;
  height: 37px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.hotel-card-podrobnee.button {
/* Подробнее */
    background: #756257;
    grid-area: 5/2/6/3;
}

.hotel-card-fav {
    /* В избранное */
    width: 140.94px;
    background: #83B3D3;
    
    grid-area: 5/3/6/4;
    }

    .hotel-card-stars {
      grid-area: 6/2/7/3;
    margin-top: 10px;
    margin-bottom: 10px;
    
      
    }
    .hotel-card-rating {
      width: 160px;
      height: 37px;
      background: #F2F2F2;
      border-radius: 4px;
      font-size: 16px;
      line-height: 21px;
      font-style: normal;
      font-weight: normal;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      text-transform: uppercase;
      grid-area: 6/3/7/4;
    }

    .hotel-card-fav-villas {
        width: 140.94px;
        height: 37px;
        left: 159.06px;
        top: 0px;
        background: #7DB54F;
        border-radius: 4px;
        font-family:"PT Sans", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        text-decoration: none;  
        grid-area: 5/3/6/4; 

    }

    .show-more {
      margin-top: 30px;
      margin-bottom: 30px;;
    }
    .pagination-show-more {
        /* Загрузить ещё */
        height: 60px;
        width: 620px;
        background: #83B3D3;
        border-radius: 4px;
        border:#FFFFFF;
        font-family: "PT Sans", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
        display: flex;
        justify-content: center;
        margin:0 auto;
        margin-top: 30px;
        margin-bottom: 60px;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    
    .pagination-container {
      display: flex;
      margin-top: 30px;
      

    }

    .pagination {
      display: flex;
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    
     .pagination-item:not(:first-child) {
        margin-right: 8px;
      }
       
      .pagination-link {
        display: block;
        box-sizing: border-box;
        background-color: #83B3D3;
        text-decoration: none;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0 auto;
        width: 55px;
        height: 55px;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        color: #FFFFFF;
      }

      .sorting-container {
        display:flex;
        width: 386px;
        height: 48px;
        margin-left: auto;
        justify-content: space-between;
        padding: 0;
        
      }
      .hotels-on-page {
        line-height: 23px;
        padding-top: 16px;
      }

      .select-control-first {
        width: 287px;
        height: 48px;
        border: 2px solid #E6E6E6;
        box-sizing: border-box;
        border-radius: 4px;
        font-size: 18px;
line-height: 23px;

/* basic/dark */
color: #333333;

        padding-top: 12px;
        padding-bottom: 13px;;
        padding-left: 16px;
      }
      .select-control {
        width: 160px;
        height: 48px;
        border: 2px solid #E6E6E6;
        box-sizing: border-box;
        border-radius: 4px;
        line-height: 23px;
        font-size: 18px;
        padding-top: 3px;
        padding-left: 16px;
       
      }

      
      .pagination-current {
        color: #242424;
        background-color: #ffffff;
        text-decoration: none;
        line-height: 16px;
        font-weight: 700;
        font-family: "PT Sans", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
        text-transform: uppercase;
        margin-left: 72px;

      }
      .subscribe-cat {
        display: flex;
        flex-direction: column;
        margin: 0 0;
        color:#000000; 
        max-width:1200px;
        max-height: 411px; /*растягивается в высоту*/
        padding: 73px 200px 93px;
      }

       .subscribe-catalog  {
        font-family: "PT Sans", sans-serif;
        font-style:normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        text-transform: uppercase;
         color: #000000;
      }
      
        
        .subscribe-cat h1{
          width: 720px;
        height: 36px;
        margin: 0 0;
          color:#000000;
          font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 36px;
        /* identical to box height, or 120% */
        text-align: center;
        text-transform: uppercase;
        
        /* basic/black */
        color: #000000;
      }

      .subscribe-cat p {
        display: block;
        font-family: "PT Sans", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        color: #333333;
        margin-top: 46px;
        margin-bottom: 46px;
        width: 720px;
        height: 52px;
      }

      
      

      