@font-face {
  
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ptsans-400.woff2") format("woff2");  
    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

  html {
    height: 100%;
  }
  
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #242424;
    background: #FFFFFF;
  }
.hotel-search h1{
  color:#000000;
}

.subscribe-cat h1{
  color:#000000;
}
  .button-want-here {
    background-color: #756257;
    border-radius: 4px;
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF!important;
    text-decoration: none;
    text-transform: uppercase;
  }

  .button-hotel-search {
    background: #756257;
    width: 575px;
    height: 60px;
    border-radius: 10px;
    font-family: inherit;
    color: #FFFFFF!important;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    margin: auto;
  }

  .subscription-form-email {
    width: 600px;
    height: 60px;
    background: #F2F2F2;
    border-radius: 0px 10px 10px 0px;
  }

  .button-submit {
    font-family: inherit; 
    background: #83B3D3;
    width: 200px;
    height: 60px;
    border-radius: 0px 10px 10px 0px;
    color: #FFFFFF!important;
    text-decoration: none;
  }

  /* Pages */

.page-header {
    color: #242424;
    background: #FFFFFF;
  }

  .navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }
 
  .navigation-link-logo {
    
      width: 139px;
      margin-right: 70px;
  }

  

  .navigation-list {
    width: 500px;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
  }

  .navigation-user {
    max-width: 250px;
    margin-left: auto;
  }

 .navigation-link {
    font-family: "PT Sans", sans-serif; 
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    text-decoration: none;
  }

  .main-container {
    flex-grow: 1;
  }

  .page-container {
    width: 1200px;
    margin: 0 auto;
  }

  .wellcome {
    max-width: 1200px;
    height: 485px;
    background-size: cover;
    color: #000000;
    background-color: #ffffff;
    background-image: url("../images/index-background.jpg");
 
  }

  .wellcome-text {
    display: block;
    margin: 0 auto; /*как сделать отступ сверху?*/
  }

  .subscribe {
    color:#000000; 
    max-width:1200px;
    max-height: 411px; /*растягивается в высоту*/
    background-image: url("../images/background.png");
    padding: 94px 200px 93px;
 }
 .subscription-form-email {
    width: 800px;
 }

  .advantages-cards {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap:wrap;
    }
  .advantages-item {
    margin: 0;
    padding: 0;
    width: 400px;
    height: 384px;
    color: #333333;
    }
 .item-lightgrey {
    background: rgba(131, 179, 211, 0.12);   
    }

    .item-road {
    background: rgba(131, 179, 211, 0.2);
    }
 
.advantages-blue {
    color: #FFFFFF;
    background: #83B3D3;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
  }

.advantages-blue h3 {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .advantages-blue p,.advantages-blue span {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;

  }
  .advantages {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;
    margin: 0;
    padding: 0;

}

h1  {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
     color: #FFFFFF;
  }


  p {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    /*color: #FFFFFF;*/
  }

  .sedona-welcome  {
     color: #000000;
  }
  .p-index {
    color: #FFFFFF;  
  }



/* +7 (812) 812-12-12 */
h4 {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;

}

.page-footer-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }

  .social-list {
    display: flex;
  }

.footer-social {
    width: 107px;
    margin-left:72px;
 }
.tel {
    width:720px;
    
    }
.footer-link-logo {
    /*как выровнять элементы футера на одну строку?*/
    width: 114.9px;}

/* Каталог */

.main-background {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    max-width: 1200px;
    height: 408px;
    background-image: url("../images/catalog-background1.png");
}

.catalog-filter-title {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}

.catalog-filter-group {
  width: 530px;
  margin-right: 70px;
}

.catalog-hotels {
  display: flex;
}

.catalog-filter {
  width: 1200px;
  height: 408px;
}

.catalog-filter-right {
  display:flex;
  width:600px;
}
.hotel-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotel-card {
  width:340px;
  height: 438px;
  
}

.hotel-card-podrobnee {
/* Подробнее */

    width: 133.01px;
    height: 37px;
    background: #756257;
    border-radius: 4px;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;

/* basic/white */

    color: #FFFFFF;
}

.hotel-card-fav {
    /* В избранное */
    
    width: 140.94px;
    height: 37px;
    left: 159.06px;
    top: 0px;
    background: #83B3D3;
    border-radius: 4px;
    font-family:"PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    }

    .hotel-card-fav-villas {
        width: 140.94px;
        height: 37px;
        left: 159.06px;
        top: 0px;
        background: #7DB54F;
        border-radius: 4px;
        font-family:"PT Sans", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;   

    }

    .pagination-show-more {
        /* Загрузить ещё */

        left: 330px;
        right: 330.17px;
        top: 1568px;
        background: #83B3D3;
        border-radius: 4px;
        font-family: "PT Sans", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
        display: flex;
        justify-content: center;
        margin:0 auto;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    
    .pagination-container {
      display: flex;

    }

     .pagination {
        background-color: #ffffff;
        display: flex;
      }
      
      .pagination-link {
        color: #ffffff;
        background-color: #83B3D3;
        text-decoration: none;
        line-height: 16px;
        font-weight: 700;
        font-family: "PT Sans", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
        text-transform: uppercase;
        color: #FFFFFF;
      }
      
      .pagination-current {
        color: #242424;
        background-color: #ffffff;
        text-decoration: none;
        line-height: 16px;
        font-weight: 700;
        font-family: "PT Sans", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
        text-transform: uppercase;

      }
      .subscribe-cat {
        color:#000000; 
        max-width:1200px;
        max-height: 411px; /*растягивается в высоту*/
        padding: 94px 200px 93px;
      }

       .subscribe-catalog  {
        font-family: "PT Sans", sans-serif;
        font-style:normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        text-transform: uppercase;
         color: #000000;
      }

      .p-catalog {
        font-family: "PT Sans", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        color: #333333;
      }
      

      